<header class="<%= heroHeader.bgImg  %> ">
        <!-- Header Hero -->
        <div class="header-hero-text">
            <h1><%= heroHeader.title %></h1>
            <p><%= heroHeader.text %> </p>
        </div>
</header>
