  <% const footerStyle = (data) => `footer-${data}` %>
  <footer class="<%= footerStyle(footerValue) %> ">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#subscribe">Subscribe</a></li>
        </ul>
    </footer>
</body>
</html>